.faq{
    margin-bottom: var(--spacing_7);
    margin-top: var(--spacing_8);
    &_item{
        @for $i from 1 through 50 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 0.20s;
            }
        }
        &:last-child{
            .faq_title{
                border-bottom: 1px solid $blue_3;
            }
            &.opened{
               .faq_title{
                    border-bottom: 1px solid transparent;
                } 
            }
        }
        &.opened{
            .faq_btn{
                svg{
                    transform: rotate(180deg);
                }
            }
            .faq_content_cover{
                height: var(--el-height);
            }
            + .faq_item{
                .faq_title{
                    border-top: 1px solid transparent;
                }
            }
        }

    }
    &_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing_7) 0;
        border-top: 1px solid $blue_3;
        span{
            margin-right: var(--spacing_10);
        }
    }
    &_content_cover{
        transition:  0.3s ease-in-out;
        padding-left: var(--spacing_10);
        height: 0px;
        overflow: hidden;
        p{
            &:not(:last-child){
                padding-bottom: var(--spacing_10);
            }
        }
    }
    &_content{
        padding-bottom: var(--spacing_7);
    }
    &_btn{
        @include breakpoint(sm) {
           transform: scale(0.8);
        }
        svg{
            transition:  0.3s ease-in-out;
        }
    }
}