.swiper-item{
    --slide-size: 328px;
    width: var(--slide-size);
    display: block;
    position: relative;
    padding-bottom: 15px;
    margin: 0 auto;
    &::after{
        content: '';
        position: absolute;
        background: $white;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &:hover{
        p{
            color: $blue_1;
        }
    }
    .info{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: var(--spacing_9) var(--spacing_9) 0;
        span{
            display: block;
            color: $blue_3;
        }
    }
    p{
        padding: var(--spacing_9);
    }
    .img_wrap{
        overflow: hidden;
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.swiper {
    .swiper-wrapper{
        padding: calc(var(--spacing_1) + var(--spacing_7))  0 0;
        .swiper-slide{
            *{
                cursor:url(../img/cursor.svg), auto !important;
            }
            &:nth-child(odd){
                .swiper-item{
                    &::after{
                        height: 67%;
                    }
                    .img_wrap{
                        border-radius: 100%;
                        width: calc(var(--slide-size) + 4px);
                        height: calc(var(--slide-size) + 4px);
                        //width: 102%;
                        //aspect-ratio: 1;
                        margin-top: -102px;
                        left: -2px;
                        position: relative;
                        &:after{
                            content: '';
                            display: block;
                            padding-top: 100%;
                        }
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.destroyed_slider{
    .swiper-wrapper{
        left: 0 !important;
    }
}
.slider-blog_btns.destroyed_slider{
    display: none !important;
}
