.editor{
  clear: both;
  .alignright {
    float: right;
    padding-left: 40px;
    @include breakpoint(md) {
     float: none;
      padding-left: 0;
    }
  }
  .alignleft {
    float: left;
    padding-right: 40px;
    @include breakpoint(md) {
      float: none;
      padding-right: 0;
    }
  }
  .aligncenter {
    text-align: center;
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
  }
  p {
    padding: 10px 0;
  }
  b{
    padding: 5px 0;
    display: block;
    font-weight: 900;
  }
  i{
    font-style: italic;
  }
  ul{
    padding-left: 35px;
    li{
      position: relative;
      list-style-type: none;
      margin: 5px 0;
      &:after{
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: $editor_color_1;
        top: 11px;
        left: -15px;
        border-radius: 100%;
      }
    }
  }
  ol{
    padding-left: 35px;
    li{
      position: relative;
      list-style-type: decimal;
      margin: 5px 0;
    }
  }
  .blockInsert{
    margin: 20px 0;
    clear: both;
    background-size: 110%;
    @include breakpoint(sm) {
      background-size: cover;
    }
  }
  .wp-block-columns{
    @include breakpoint(md) {
      flex-direction: column;
    }
    .wp-block-column{
      &:nth-child(2n) {
        @include breakpoint(md) {
          margin-left: 0;
        }
      }
    }
  }
  img{
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 100%;
    display: block;
    height: auto;
    @include breakpoint(md) {
      float: none !important;
      margin: 0 auto;
      padding: 10px 0;
    }
  }
  blockquote{
    background: $editor_color_3;
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 35px;
    margin: 15px 0;
    @include breakpoint(md) {
      padding: 15px;
    }
    h1, h2, h3, h4, h5, h6{
      color: $editor_color_4;
      margin: 0;
    }
    p{
      color: $editor_color_2;
    }
  }
  h1{
    font-size: 2.4em !important;
    margin: .67em 0 ;
    @include breakpoint(md) {
      font-size: 2.1em !important;
    }
  }
  h2{
    font-size: 1.9em !important;
    margin: .75em 0;
    @include breakpoint(md) {
      font-size: 1.8em !important;
    }
  }
  h3{
    font-size: 1.5em !important;
    margin: .83em 0 ;
    @include breakpoint(md) {
      font-size: 1.4em !important;
    }
  }
  h4{
    font-size: 1.17em !important;
    margin: .83em 0 ;
    @include breakpoint(md) {
      font-size: 1.15em !important;
    }
  }
  h5{
    font-size: .83em !important;
    margin: 1.5em 0
  }
  h6{
    font-size: .65em !important;
    margin: 1.67em 0
  }
  h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: $editor_color_1;
  }
}