$font_family_1: 'Montserrat', sans-serif;
$font_family_2: 'KyivType Sans', sans-serif;

body{
    --base_size: 14px;
    --size_1: 84px;
    --size_2: 56px;
    --size_3: 32px;
    --size_4: 28px;
    --size_5: 24px;
    --size_6: 20px;
    --size_7: 18px;
    --size_8: 16px;
    --size_9: 12px;

    @include breakpoint(xxl) {
        --size_1: 65px;
        --size_2: 38px;
        --size_3: 28px;
        --size_4: 22px;
    }

    @include breakpoint(xl) {
        --size_1: 55px;
    }

    @include breakpoint(lg) {
        --size_1: 40px;
        --size_2: 34px;
        --size_3: 28px;
        --size_4: 24px;
        --size_5: 20px;
        --size_6: 18px;
        --size_7: 16px;
    }
}

.heading{
    font-family: $font_family_2;
    font-size: var(--size_1);
    font-weight: 500;
    text-transform: uppercase;
}
.title{
    font-family: $font_family_2;
    font-size: var(--size_3);
    font-weight: 500;
    line-height: 1.4;
}
.subtitle{
    font-family: $font_family_2;
    &_1{
        @extend .subtitle;
        font-size: var(--size_4);
        font-weight: 500;
        @include breakpoint(sm) {
            font-size: var(--size_6);
        }
    }
    &_2{
        @extend .subtitle;
        font-weight: 700;
        font-size: var(--size_5);
    }
    &_3{
        @extend .subtitle;
        font-size: var(--size_6);
    }
}